public net.minecraft.world.level.block.Blocks always(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
#public-f com.gregtechceu.gtceu.api.recipe.OverclockingLogic PERFECT_OVERCLOCK
#public-f com.gregtechceu.gtceu.api.recipe.OverclockingLogic NON_PERFECT_OVERCLOCK
#public-f com.gregtechceu.gtceu.api.recipe.OverclockingLogic PERFECT_OVERCLOCK_SUBTICK
#public-f com.gregtechceu.gtceu.api.recipe.OverclockingLogic NON_PERFECT_OVERCLOCK_SUBTICK